
*{
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}
@media screen and (max-width:600px) {
    .main {
        width: 100%;
    }
    .navbar {       
        zoom:65%;        
    } 
}
body{
    overflow:scroll;
    margin: 0px;
    padding: 0px;
}
main {
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
}
h1{
    text-align: center;
}
.navbar li{
    float: left;
}
.navbar ul{
    list-style-type: none;
    background-color: hsl(0, 0%, 25%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: black;
}
.navbar li{
    float: left;
}
body a{
    margin-left: 30px;
    margin-right: 30px;
}
body h1,h2,h3,h4,h5{
    margin-left: 30px;
    margin-right: 30px;
}
body p{
    margin-left: 30px;
    margin-right: 30px;
}
.btn {

	box-shadow: 3px 4px 0px 0px #c4c4c4;
	background:linear-gradient(to bottom, #c9c9c9 5%, #878787 100%);
	background-color:#c9c9c9;
	border-radius:15px;
	border:1px solid #949494;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:'Roboto Condensed', sans-serif;;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
    scale:75%;
}
.btn:hover {
	background:linear-gradient(to bottom, #878787 5%, #c9c9c9 100%);
	background-color:#878787;
}
.btn:active {
	position:relative;
	top:1px;
}
.h3{
    color: black;
    margin: 3px;
}