
*{
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}
@media screen and (max-width:600px) {
    .main {
        width: 100%;
    }
    .navbar {       
        zoom:65%;        
    } 
    
}
body{
    overflow:scroll;
    margin: 0px;
    padding: 0px;
}
main {
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
}
h1{
    text-align: center;
}
.navbar li{
    float: left;
}
.navbar ul{
    list-style-type: none;
    background-color: hsl(0, 0%, 25%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: black;
}
.navbar li{
    float: left;
}
body a{
    margin-left: 30px;
    margin-right: 30px;
}
body h1,h2,h3,h4,h5{
    margin-left: 30px;
    margin-right: 30px;
}
body p{
    margin-left: 30px;
    margin-right: 30px;
}
.btn {
	box-shadow:inset 0px 1px 3px 0px #404040;
	background:linear-gradient(to bottom, #404040 5%, #404040 100%);
	background-color:#404040;
	border-radius:5px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Roboto Condensed', sans-serif;
	font-size:1em;
	font-weight:bold;
	padding:10px 22px;
	text-decoration:none;
	text-shadow:0px -1px 0px #000000;
}
.btn:hover {
	background:linear-gradient(to bottom, #000000 5%, #000000 100%);
	background-color:#404040;
}
.btn:active {
	position:relative;
	top:1px;
}

        

.h3{
    color: black;
    margin: 3px;
}